@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 37 39% 90%; /* Adjusted for a lighter beige page background */
    --foreground: 224 71% 4%;
    --card: 37 39% 95%; /* Lighter beige for cards */
    --card-foreground: 224 71% 4%;
    --popover: 37 39% 95%;
    --popover-foreground: 224 71% 4%;
    --primary: 262 84% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 168 76% 42%;
    --secondary-foreground: 0 0% 100%;
    --muted: 37 39% 92%; /* Slightly darker beige for muted elements */
    --muted-foreground: 220 9% 46%;
    --accent: 42 74% 52%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 37 39% 85%;
    --input: 37 39% 85%;
    --ring: 262 84% 51%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%; /* #09090b - Near-black */
    --foreground: 215 28% 93%;
    --card: 224 71% 4%;
    --card-foreground: 215 28% 93%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 28% 93%;
    --primary: 262 84% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 168 76% 42%;
    --secondary-foreground: 0 0% 100%;
    --muted: 215 28% 17%;
    --muted-foreground: 215 28% 65%;
    --accent: 42 74% 52%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 262 84% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body leading-relaxed;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline font-bold tracking-tight;
  }
  p {
      @apply leading-relaxed;
  }
}
